[Unit]
Description=Deployment for MYOB AccountRight Connector
Requires=config.service
After=config.service

[Service]
User=core
Type=oneshot
ExecStartPre=-/usr/bin/docker kill myob-accountright-connector-deploy
ExecStartPre=-/usr/bin/docker rm myob-accountright-connector-deploy
ExecStartPre=-/usr/bin/docker pull quay.io/hoist/connector-myob-accountright:master
ExecStart=/usr/bin/docker run -h myob-accountright-connector-deploy --name myob-accountright-connector-deploy -e "ROOT_CONNECTOR_DIR=/shares/connectors" --volumes-from config -P quay.io/hoist/connector-myob-accountright:master
ExecStop=/usr/bin/docker stop myob-accountright-connector-deploy
ExecStopPost=-/usr/bin/docker kill myob-accountright-connector-deploy
ExecStopPost=-/usr/bin/docker rm myob-accountright-connector-deploy
TimeoutStartSec=30m

[X-Fleet]
MachineMetadata=container_type=web
